{% trans_default_domain 'mkebza_content' %}

<a class="btn btn-sm btn-default" target="_blank" href="{{ path('page_view', {'slug': object.slug }) }}" title="Go to webpage">
    <i class="fa fa-chevron-right"></i>
</a>

